<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer List Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>

<script type="text/javascript">

//loading all the data through ajax
filterEmployee('all');

 function filterEmployee(filter){
	 
	 //Making ajax call - GET
	 //POST 
	 //PUT  //when we update the resource
	 //DELETE -deleting the resource
	 //PATCH -Partial update
	 fetch("/v3/employee/customerList?filter="+filter).then(data=>data.json()).then(data=>{
		 console.log(data);
		 
		 var dcontent="";
		 
		 for(var x=0;x<data.length;x++) {
		       rowdata=data[x];
		       dcontent=dcontent+"<tr>";
		       dcontent=dcontent+"<td>"+(x+1)+"</td>";
		       dcontent=dcontent+"<td>"+rowdata.name+"</td>";
		       dcontent=dcontent+"<td>"+rowdata.email+"</td>";
		       dcontent=dcontent+"<td>"+rowdata.role+"</td>";
		       dcontent=dcontent+'<td><img style="height:80px;" src="/employee/customers/photo?cid='+rowdata.id+'"></td>';
		       dcontent=dcontent+"<td>";
		       if(rowdata.locked=="no") {
		    	   dcontent=dcontent+'<button onclick="lockUnlock(\'en\','+rowdata.id+',\''+rowdata.email+'\');" type="button" id="en_'+rowdata.id+'"  class="btn btn-primary">EN</button>';
		    	   dcontent=dcontent+'<button style="display:none" onclick="lockUnlock(\'ds\','+rowdata.id+',\''+rowdata.email+'\');" type="button" id="ds_'+rowdata.id+'"  class="btn btn-danger">DS</button>';
		    	   
		       }else{
		    	   dcontent=dcontent+'<button style="display:none" onclick="lockUnlock(\'en\','+rowdata.id+',\''+rowdata.email+'\');" type="button" id="en_'+rowdata.id+'"  class="btn btn-primary">EN</button>';
		    	   dcontent=dcontent+'<button onclick="lockUnlock(\'ds\','+rowdata.id+',\''+rowdata.email+'\');" type="button" id="ds_'+rowdata.id+'"  class="btn btn-danger">DS</button>';
		       }
		       dcontent=dcontent+"</td>";
		       dcontent=dcontent+"</tr>";
		 }
		 
		 document.getElementById("tashish").innerHTML=dcontent;
		 
	 });
 }
  
  
  
  //en    ,12 , nagendra.yadav.niit@gmail.com
  function lockUnlock(buttonStatus,cid,userid) {
		console.log(buttonStatus);
		console.log(cid);
		//en12
		var btId=buttonStatus+"_"+cid;
		
		//hiding current button which is clicked
		document.getElementById(btId).style.display = "none";
		
		var secondButton="en_"+cid;
		var status="yes";
		if(buttonStatus=='ds') { //current button is disable the  make it status = "no" means enable - unlocked 
			status="no";
		}else{
			secondButton="ds_"+cid;
		}

		//show the button which id is secondButton
		document.getElementById(secondButton).style.display = "block";

		var queryString="?userid="+userid+"&status="+status;
		//This is called passing data into query string
		fetch("/v3/customer/lockunlock"+queryString).then(res=>res.json()) //reading json from the response
		.then(data=> { //accessing passed json data as JavaScript object
			if(data.status=="success"){
				if(status=="no") {
					document.getElementById("mmessage").innerHTML="Ahaha Customer is unlocked!!!!!!";	
				}else {
				  document.getElementById("mmessage").innerHTML="Ahaha Customer is locked!!!!!!";
				}	
			} else{
				document.getElementById("mmessage").innerHTML="Sorry some error occurs at server while lock and unlock!";	
			}
		});
		
		
		/* @GetMapping("/customer/lockunlock")
		public ApplicationResponseVO customerLock(String userid,String status) {
			   customerService.updateCustomerLockStatus(userid, status);
			   ApplicationResponseVO applicationResponseVO=new ApplicationResponseVO();
			   applicationResponseVO.setCode(200);
			   applicationResponseVO.setStatus("success");
			   applicationResponseVO.setMessage("Lock status is updated!");
			   return applicationResponseVO;
		}
		 */
		
  }

</script>

</head>
<body>


<header style="height: 30px;background-color: maroon;color:white;">
  Hello Mr. </span>
   
</header>
<div class="container">
   <h2>Employee Dashboard Page
  </h2>
   <a th:href="@{/customer/enquiries}"> 
  <button type="button" class="btn btn-primary">Customer Enquiry</button>
  </a>
<button type="button" class="btn btn-secondary">Lock/Unlock</button>
<button type="button" class="btn btn-success">Customer Transaction</button>
<button type="button" class="btn btn-danger">Add Security Question(s)</button>
<a th:href="@{/customer/accounts/approved}">
<button type="button" class="btn btn-warning">Account Approval</button>
</a>

<a th:href="@{/admin/roles}">
<button type="button" class="btn btn-warning">Roles</button>
</a>

<a th:href="@{/customer/logout}"> 
<button type="button" class="btn btn-warning">Logout</button>
</a>
   <hr/>
   <span th:utext="${error}" style="color: red;font-size: 18px;font-weight: bold;" id="mmessage"></span>
   <hr/>
  <div style="width: 100%">
  <h2>Customer List!</h2>
 		 <button type="button" class="btn btn-primary" onclick="filterEmployee('employee');">EMPLOYEE</button>
 	  &nbsp;
 		 <button type="button" class="btn btn-warning" onclick="filterEmployee('customer');">CUSTOMER</button>
 	 &nbsp;
 		 <button type="button" class="btn btn-success" onclick="filterEmployee('all');">ALL</button>
 <hr/>
    <table  class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
  <td> SNO </td>
  <td> Name </td>
  <td> Email </td>
   <td> Role </td>
   <td> Photo </td>
   <td> Action </td>
  </tr>
  </thead>
  <tbody id="tashish">
  <!-- <tr th:each="customerVO,iter: ${customerVOs}">
    <td>
      <span th:utext="${iter.index+1}"></span>
    </td>
    <td th:text="${customerVO.name}">
    <td th:text="${customerVO.email}"/>
    <td th:text="${customerVO.role}"/>
    <td>
    <img th:src="@{'/employee/customers/photo?cid=' + ${customerVO.id}}" style="height: 60px;"/>
    </td>
     <td>
     <div th:switch="${customerVO.locked}"> 
  <p th:case="'yes'">  
 		 <button type="button" th:id="@{'ds_' + ${customerVO.id}}"  th:onclick="|lockUnlock('ds','${customerVO.id}','${customerVO.email}')|"  class="btn btn-danger">DS</button>
 		 <button type="button" th:id="@{'en_' + ${customerVO.id}}" th:onclick="|lockUnlock('en','${customerVO.id}','${customerVO.email}')|"  class="btn btn-primary" style="display:none;">EN</button>
 	 </p>
  <p th:case="'no'">
   <button type="button" th:id="@{'en_' + ${customerVO.id}}" th:onclick="|lockUnlock('en','${customerVO.id}','${customerVO.email}')|"  class="btn btn-primary" >EN</button>   
        <button type="button" th:id="@{'ds_' + ${customerVO.id}}"  th:onclick="|lockUnlock('ds','${customerVO.id}','${customerVO.email}')|"  class="btn btn-danger" style="display:none;">DS</button>
 	 </p>
</div>
     </td>
  </tr> -->
  </tbody>
  </table>
  <br/>
  <hr/>
  </div>
</div>
<footer  class="ffooter">
</footer>


<!-- Roles Modal -->
  <div class="modal" id="rolesModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
       
      <form  method="post">
     
        <input type="hidden" name="cid" id="ceid"/>
     
        <div class="modal-header">
          <div class="modal-title">
          <h4>
          <img src="" id="photoIdWithRoleModal" style="height: 60px;"/>
          Current Roles </h4>
<input type="hidden" id="roleModalEmailId" class="form-control" readonly>
          <span id="showRoleUpdateMessage" th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
          </div>
          <button type="button" class="close" data-dismiss="modal" onclick="clearRoleMsg();">
          &times;</button>
        </div>
 
        <!-- Modal body -->
        <div class="modal-body">

<table class="table table-striped table-bordered" style="width:100%">
 <tbody>
 <tr>
     <td> ID </td>
 <td> Role Name </td>
 <td> Description </td>
 <td> Action </td>
 </tr>
 
 <tbody id="roleContents">
 <tr>
   <td>
     1      
   </td>
   <td></td>
   <td></td>
  <td><input type="checkbox" id="checkbox" name="checkbox"></td>
 </tr>
 </tbody>
</table>

        </div>
       
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-primary">Send Email</button> -->
          <button type="button" onclick="updateRole();" class="btn btn-primary">Update Role(s)</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal" id="editProfilePopup">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        
      <form  method="post"  th:action="@{/admin/updateCustomer}" enctype= "multipart/form-data">
      
        <input type="hidden" name="cid" id="cid"/>
      
        <div class="modal-header">
          <h4 class="modal-title">
          <img src="" id="photophoto" style="height: 60px;"/>
          Edit Profile</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           
            Name
            <input type="text" name="name" id="pname" class="form-control">
            
            Mobile
            <input type="text" name="mobile" id="pmobile" class="form-control">
            Photo
            <input type="file" name="photo" id="pphoto" class="form-control">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Update Profile</button>
        </div>
        </form>
      </div>
    </div>
  </div>


</body>
</html>
